.page-template-template-splash
	.logo
		margin-bottom: 27px

	.splash-header
		padding: 0 100px
		position: absolute
		left: 0
		right: 0

	h1
		padding-top: 25px
		font-size: 80px
		border-top: 8px solid $color-dark
		line-height: 85px