.page-template-template-splash
	background: $color-dark

	+mq($mq-small, "min")
		background: $color-white


	.logo
		margin-bottom: 27px
		max-width: 100%

	.splash-header
		padding: 50px 25px
		position: static
		background-color: $color-white

		// make it vertical center
		+mq($mq-small, "min")
			padding: 0 50px
			position: absolute
			left: 0
			right: 0

		+mq($mq-large, "min")
			padding: 0 100px

	h1
		padding-top: 25px
		font-size: 38px
		border-top: 8px solid $color-dark
		line-height: 42px

		+mq($mq-small, "min")
			padding-top: 25px
			font-size: 50px
			border-top: 8px solid $color-dark
			line-height: 55px

		+mq($mq-large, "min")
			padding-top: 25px
			font-size: 80px
			border-top: 8px solid $color-dark
			line-height: 85px

.contact-icos
	list-style: none

	li
		display: inline-block
		vertical-align: middle
		margin-top: 24px

		&.contact a
			width: auto
			text-indent: 0
			color: $color-white
			line-height: 38px
			font-size: 15px
			padding: 0 12px
			text-transform: lowercase
			border-radius: 6px
			overflow: visible

	.speech-point
		position: absolute
		width: 10px
		height: 14px
		bottom: -8px
		left: 0

	a
		display: block
		overflow: hidden
		background: $color-dark
		border-radius: 19px
		width: 38px
		height: 38px
		position: relative
		text-align: center
		line-height: 38px
		color: $color-white
		transition: all .3s ease
		top: 0

		&.icon-twitter
			font-size: 22px
			line-height: 44px

		&.icon-linkedin
			line-height: 40px

		&.icon-git
			line-height: 42px

		&:hover
			top: -5px

	