//=================================
// FOOTER
//=================================

.site-footer
	position: fixed
	left: 0
	bottom: -100px
	right: 0
	height: 0
	padding-top: 100px
	text-align: left
	transition: all .4s ease

	&.cower
		height: 100px
		bottom: 0

		&.entrance
			transition: all 1.5s ease


	&.show
		height: 400px

		.footer-content
			height: 300px

.footer-content
	transition: all .4s ease
	background: $color-dark
	color: $color-white
	padding: 0 100px
	height: 0
	overflow: hidden

	+mq($mq-xlarge, "min")
		h2,
		.contact-method
			height: 300px

	h2
		font-size: 40px
		display: inline-block

	.contact
		display: inline-block
		line-height: 300px

	.contact-method
		color: $color-white
		display: inline-block
		line-height: 15px
		margin-left: 35px
		border-top: 6px solid $color-white
		font-size: 15px
		padding-top: 8px
		transition: all .3s ease

		&:before
			vertical-align: middle

		&:hover
			border-top-color: $color-yellow

