//=================================
// FOOTER
//=================================

.site-footer
	position: fixed
	bottom: 0
	left: 0
	right: 0
	height: 100px
	padding-top: 100px
	text-align: left
	transition: all .8s ease

	&.show
		height: 400px

		.footer-content
			height: 300px

.footer-content
	transition: all .8s ease
	background: $color-dark
	color: $color-white
	padding: 0 100px
	height: 0
	line-height: 300px
	overflow: hidden

	h2
		font-size: 40px
		display: inline-block

	.contact
		display: inline-block

	article
		display: inline-block
		line-height: 15px
		margin-left: 35px
		border-top: 6px solid $color-white
		font-size: 15px
		padding-top: 8px

		&:before
			vertical-align: middle

